#!/bin/bash

currdate=`date`
lastprod=(`tail -n 1000 /opt/eosio/deploy/data/stderr.txt | grep 'Received\|Produced' | grep quantumblok | tail -n 1| awk '{print $2}'`)

diff=$(( $(date -d "$currdate" "+%s") - $(date -d "$lastprod" "+%s") ))
if (( "$diff" < "120" )); then
        echo ok
else
        echo not ok
fi

