{% if wasm_runtime %}
wasm-runtime = {{ wasm_runtime }}
{% endif %}
{% if wasm_runtime == "eos-vm-jit" and eos_vm_oc_enable %}
eos-vm-oc-compile-threads = 4
eos-vm-oc-enable = 1
{% endif %}
{% if chain_state_db_size_mb %}
chain-state-db-size-mb = {{ chain_state_db_size_mb }}
{% endif %}
{% if setup_producer | bool %}
read-mode = speculative
{% else %}
read-mode = head
{% endif %}
{% if ((node_type == "seed") and (name != "fio")) %}
p2p-accept-transactions = false 
{% endif %}
{% if http_max_response_time_ms | d() %}
http-max-response-time-ms = {{ http_max_response_time_ms }}
{% endif %}
chain-threads = {{ chain_threads }}
contracts-console = true
http-server-address = {{ http_server_ip }}:{{ http_server_port }}
http-threads = {{ http_threads }}
max-clients = {{ max_clients }}
net-threads = {{ net_threads }}
sync-fetch-span = {{ sync_fetch_span }}
max-transaction-time = {{ max_transaction_time }}
p2p-listen-endpoint = {{ p2p_server_ip }}:{{ p2p_server_port }}
{% if producer_name %}
trusted-producer = {{ producer_name }}
{% endif %}
{% if last_block_time_offset_us %}
last-block-time-offset-us = {{ last_block_time_offset_us }}
{% endif %}
{% if producer_threads %}
producer-threads = {{ producer_threads }}
{% endif %}
{% for plugin in plugins %}
plugin = {{ plugin }}
{% endfor %}
{% if setup_producer | bool %}
plugin = eosio::producer_plugin
plugin = eosio::producer_api_plugin
producer-name = {{ producer_name }}
signature-provider = {{ public_signing_key }}=KEY:{{ private_signing_key }}
{% endif %}
{% if pause_on_startup %}
pause-on-startup = {{ pause_on_startup }}
{% endif %}
{% for peer in peers %}
p2p-peer-address = {{ peer }}
{% endfor %}
{% if setup_hyperion | bool %}
http-validate-host = false
state-history-endpoint = 127.0.0.1:8887
plugin = eosio::history_plugin
plugin = eosio::history_api_plugin
plugin = eosio::state_history_plugin
{% endif %}

{% if 'leap' not in package %}
{% if last_block_cpu_effort_percent %}
last-block-cpu-effort-percent = {{ last_block_cpu_effort_percent }}
{% endif %}
{% if cpu_effort_percent %}
cpu-effort-percent = {{ cpu_effort_percent }}
{% endif %}
reversible-blocks-db-size-mb = {{ reversible_blocks_db_size_mb }}
{% if txn_test_gen_threads %}
txn-test-gen-threads = {{ txn_test_gen_threads }}
{% endif %}
{% endif %}