module.exports = {
    serverPort: "{{ http_proxy_port }}",
    mongoURL: "mongodb://localhost:27017/{{ token_symbol }}",
    mongoDB:  "{{ token_symbol }}",
    chainUrl: "http://localhost:{{ http_server_port }}",
    saveRequestsMetrics: true,
    maxSkip: 500000,
    maxTimeForOperetion: 60000, // 60sec
    clearOperationsTimer: 10000, // 10sec
}