mongo {{ token_symbol }} --eval 'db.action_traces.createIndex({"act.account": 1, "createdAt":1},{background: true, sparse: true})'  
mongo {{ token_symbol }} --eval 'db.action_traces.createIndex({"act.name": 1, "createdAt":1},{background: true, sparse: true})'  
mongo {{ token_symbol }} --eval 'db.action_traces.createIndex({"act.data.receiver": 1, "createdAt":1},{background: true, sparse: true})'  
mongo {{ token_symbol }} --eval 'db.action_traces.createIndex({"act.data.from": 1, "createdAt":1},{background: true, sparse: true})'  
mongo {{ token_symbol }} --eval 'db.action_traces.createIndex({"act.data.to": 1, "createdAt":1},{background: true, sparse: true})'  
mongo {{ token_symbol }} --eval 'db.action_traces.createIndex({"act.data.name": 1, "createdAt":1},{background: true, sparse: true})'  
mongo {{ token_symbol }} --eval 'db.action_traces.createIndex({"act.data.voter": 1, "createdAt":1},{background: true, sparse: true})'  
mongo {{ token_symbol }} --eval 'db.action_traces.createIndex({"act.authorization.actor": 1, "createdAt":1},{background: true, sparse: true})'  
mongo {{ token_symbol }} --eval 'db.action_traces.createIndex({"account_ram_deltas.account": 1, "createdAt":1},{background: true, sparse: true})'  
mongo {{ token_symbol }} --eval 'db.account_controls.createIndex({"controlling_account": 1},{background: true, sparse: true})'  
mongo {{ token_symbol }} --eval 'db.pub_keys.createIndex({"public_key": 1},{background: true, sparse: true})'  
mongo {{ token_symbol }} --eval 'db.accounts.createIndex({"name": 1},{background: true, sparse: true})'