[Unit]
Description=Nodeos Service
After=network.target

[Service]
User={{ deploy_user }}
Restart=always
RestartSec=1
TimeoutSec=0
Type=forking
PIDfile={{ working_dir}}/deploy/data/nodeos.pid
WorkingDirectory={{ working_dir}}/deploy
ExecStart={{ working_dir }}/deploy/start.sh
ExecStop=/bin/killall nodeos
ExecReload=/bin/killall nodeos 
[Install]
WantedBy=multi-user.target