[Unit]
Description=Nodeos Service
After=network.target

[Service]
User={{ deploy_user }}
Restart=always
WorkingDirectory={{ working_dir}}/deploy
ExecStart={{ working_dir }}/deploy/start.sh
TimeoutSec=0

[Install]
WantedBy=multi-user.target