#!/bin/bash
################################################################################
#
# Script Created by @bensig
# Modified from scripts by http://CryptoLions.io
# For EOS mainnet
# https://github.com/CryptoLions/EOS-MainNet
#
###############################################################################
MAINDIR={{ working_dir }}/deploy/
DATADIR=$MAINDIR/data

$MAINDIR/stop.sh
$MAINDIR/start.sh