#!/bin/bash
################################################################################
#
# Scrip Created by http://CryptoLions.io
# For EOS mainnet
#
# https://github.com/CryptoLions/EOS-MainNet
#
###############################################################################
{% set empty_flag = '' %}
{% set replay_flag = '--hard-replay-blockchain' if (do_replay | d() | bool) else empty_flag %}
{% set snapshot_flag = '--snapshot' if (use_snapshot | d() | bool) else empty_flag %}
{% set snapshot = snapshot_bin.stdout if (use_snapshot | d() | bool) else empty_flag %}
{% set genesis_json_flag = '--genesis-json' if (use_genesis_json | d() | bool) else empty_flag %}
{% set genesis_json = genesis_json_path if (use_genesis_json | d() | bool) else empty_flag %}
{% set disable_replay_opts_flag = '--disable-replay-opts' if (setup_state_history | d() | bool) else empty_flag %} 
{% set account_queries_flag = '--enable-account-queries=true' if (enable_account_queries | d() | bool) else empty_flag %}

DATADIR=/opt/eosio/deploy/data

wget {{ snapshot_base_url }} -O {{ snapshot_dir }}/{{ snapshot_tar }}
tar -zxf {{ snapshot_dir }}/{{ snapshot_tar }} -C {{ snapshot_dir }}

#wget https://backup.cryptolions.io/ProtonTestNet/snapshots/latest-snapshot.bin.zst -O /opt/eosio/snapshots/latest-snapshot.bin.zst
#zstd -df /opt/eosio/snapshots/latest-snapshot.bin.zst -o /opt/eosio/snapshots/latest-snapshot.bin

SNAPSHOT=`ls -t {{ snapshot_dir }}/*.bin | head -n1`

/opt/eosio/deploy/nodeos --data-dir $DATADIR --config-dir /opt/eosio/deploy --delete-all-blocks --snapshot $SNAPSHOT 2> $DATADIR/stderr.txt &  echo $! > $DATADIR/nodeos.pid
