#!/bin/bash
################################################################################
#
# Scrip Created by http://CryptoLions.io
# For EOS mainnet
#
# https://github.com/CryptoLions/EOS-MainNet
#
###############################################################################
{% set empty_flag = '' %}
{% set replay_flag = '--hard-replay-blockchain' if (do_replay | d() | bool) else empty_flag %}
{% set snapshot_flag = '--snapshot' if (use_snapshot | d() | bool) else empty_flag %}
{% set snapshot = snapshot_bin.stdout if (use_snapshot | d() | bool) else empty_flag %}
{% set delete_all_blocks_flag = '--delete-all-blocks' if (use_snapshot | d() | bool) else empty_flag %}
{% set genesis_json_flag = '--genesis-json' if (use_genesis_json | d() | bool) else empty_flag %}
{% set genesis_json = genesis_json_path if (use_genesis_json | d() | bool) else empty_flag %}
{% set disable_replay_opts_flag = '--disable-replay-opts' if (setup_state_history | d() | bool) else empty_flag %} 
{% set account_queries_flag = '--enable-account-queries=true' if (enable_account_queries | d() | bool) else empty_flag %}

MAINDIR={{ working_dir }}/deploy/
DATADIR=$MAINDIR/data

if [ ! -d $DATADIR ]; then
  mkdir -p $DATADIR;
fi

$MAINDIR/nodeos --data-dir $DATADIR --config-dir $MAINDIR {{ replay_flag }} {{ snapshot_flag }} {{ snapshot }} {{ genesis_json_flag }} {{ genesis_json }} {{ account_queries_flag }} {{ disable_replay_opts_flag }} {{ delete_all_blocks_flag }} 2> $DATADIR/stderr.txt &  echo $! > $DATADIR/nodeos.pid
