{
  "api": {
    "enabled": true,
    "pm2_scaling": 1,
    "node_max_old_space_size": 1024,
    "chain_name": "{{ name }}",
    "server_addr": "127.0.0.1",
    "server_port": "{{ http_proxy_port }}",
    "stream_port": 1234,
    "server_name": "{{ api_endpoint }}",
    "provider_name": "{{ agent_name }}",
    "provider_url": "{{ provider_website }}",
    "chain_api": "",
    "push_api": "",
    "chain_logo_url": "",
    "enable_caching": true,
    "cache_life": 1,
    "limits": {
      "get_actions": 1000,
      "get_voters": 100,
      "get_links": 1000,
      "get_deltas": 1000,
      "get_trx_actions": 200
    },
    "access_log": false,
    "chain_api_error_log": false,
    "custom_core_token": "",
    "enable_export_action": false,
    "disable_rate_limit": false,
    "rate_limit_rpm": 1000,
    "rate_limit_allow": [],
    "disable_tx_cache": false,
    "tx_cache_expiration_sec": 3600,
    "v1_chain_cache": [
      {
        "path": "get_block",
        "ttl": 3000
      },
      {
        "path": "get_info",
        "ttl": 500
      }
    ]
  },
  "indexer": {
    "start_on": {{ hyp_start_block }},
    "stop_on": {{ hyp_stop_block }},
    "rewrite": {{ hyp_rewrite_mode | lower }},
    "purge_queues": {{ hyp_purge_queues | lower }},
    "live_reader": {{ hyp_live_reader | lower }},
    "live_only_mode": {{ hyp_live_only_mode | lower }},
    "abi_scan_mode": {{ hyp_abi_scan_mode | lower }},
    "fetch_block": {{ hyp_fetch_block | lower }},
    "fetch_traces": {{ hyp_fetch_traces | lower }},
    "disable_reading": {{ hyp_disable_reading | lower }},
    "disable_indexing": {{ hyp_disable_indexing | lower }},
    "process_deltas": {{ hyp_process_deltas | lower }},
    "disable_delta_rm": {{ hyp_disable_delta_rm | lower }}
  },
  "settings": {
    "preview": {{ hyp_preview_mode | lower }},
    "chain": "{{ name }}",
    "eosio_alias": "eosio",
    "parser": "3.2",
    "auto_stop": 0,
    "index_version": "v1",
    "debug": {{ hyp_debug_mode | lower }},
    "bp_logs": false,
    "bp_monitoring": false,
    "ipc_debug_rate": 60000,
    "allow_custom_abi": false,
    "rate_monitoring": true,
    "max_ws_payload_mb": 256,
    "ds_profiling": false,
    "auto_mode_switch": false,
    "hot_warm_policy": false,
    "custom_policy": "",
    "bypass_index_map": false,
    "index_partition_size": 10000000,
    "es_replicas": 0
  },
  "blacklists": {
    "actions": [],
    "deltas": []
  },
  "whitelists": {
    "actions": [],
    "deltas": [],
    "max_depth": 10,
    "root_only": false
  },
  "scaling": {
    "readers": {{ hyp_readers }},
    "ds_queues": {{ hyp_deserializer_queues }},
    "ds_threads": {{ hyp_deserializer_threads }},
    "ds_pool_size": {{ hyp_ds_pool_size }},
    "indexing_queues": {{ hyp_es_indexing_queues }},
    "ad_idx_queues": {{ hyp_es_ad_indexing_queues }},
    "dyn_idx_queues": {{ hyp_dyn_idx_queues }},
    "max_autoscale": {{ hyp_max_autoscale }},
    "batch_size": {{ hyp_batch_size }},
    "resume_trigger": {{ hyp_resume_trigger }},
    "auto_scale_trigger": {{ hyp_auto_scale_trigger }},
    "block_queue_limit": {{ hyp_block_queue_limit }},
    "max_queue_limit": {{ hyp_max_queue_limit }},
    "routing_mode": "round_robin",
    "polling_interval": {{ hyp_polling_interval }}
  },
  "features": {
    "streaming": {
      "enable": false,
      "traces": false,
      "deltas": false
    },
    "tables": {
      "proposals": true,
      "accounts": true,
      "voters": true
    },
    "index_deltas": true,
    "index_transfer_memo": true,
    "index_all_deltas": true,
    "deferred_trx": false,
    "failed_trx": false,
    "resource_limits": false,
    "resource_usage": false
  },
  "prefetch": {
    "read": 50,
    "block": 100,
    "index": 500
  },
  "plugins": {}
}
