---
- name: Install pip
  apt: 
    name: 'python3-pip'
    state: latest
    update_cache: yes

- name: Install pexpect
  pip:
    name: pexpect
  become: yes

- name: Request new cert for {{ api_endpoint }}
  expect:
    command: "certbot -d {{ api_endpoint }} --nginx"
    responses:
      "Enter email address": "{{ certbot_email }}"
      "agree in order to register with the ACME server": "A"
      "Would you be willing to share your email address with the Electronic Frontier": "N"
      "Select the appropriate number": "{{ force_redirect }}"
  become: yes
  register: output

- name: Certbot output
  debug: msg="{{ output.stdout }}"

- name: Installing certbot renewal service
  template:
    src: 'certbot-renewal.service.j2'
    dest: '/etc/systemd/system/certbot-renewal.service'
    mode: u+rwx
    force: yes
    
- name: Installing certbot timer
  template:
    src: 'certbot-renewal.timer.j2'
    dest: '/etc/systemd/system/certbot-renewal.timer'
    mode: u+rwx
    force: yes
    
- name: Start certbot renewal timer
  shell: 'sudo systemctl start certbot-renewal.timer'
  args:
    executable: /bin/bash
  become: yes
  become_user: '{{ deploy_user }}'

- name: Enable certbot renewal timer on boot
  shell: 'sudo systemctl enable certbot-renewal.timer'
  args:
    executable: /bin/bash
  become: yes
  become_user: '{{ deploy_user }}'