{
    "name": "EOS Detroit DSP",
    "website": "https://eosdetroit.io",
    "code_of_conduct":"https://steemit.com/eos/@eos.detroit/eos-detroit-membership-guidelines",
    "ownership_disclosure" : "https://eosdetroit.io/block-producer/transparency",
    "email":"ask@eosdetroit.io",
    "branding":{
      "logo_256":"https://eosdetroit.io/images/eos-detroit_256.png",
      "logo_1024":"https://eosdetroit.io/images/eos-detroit_1024.png",
      "logo_svg":"https://eosdetroit.io/images/eos-detroit.svg"
    },
    "location": {
      "name": "Detroit",
      "country": "US",
      "latitude": 42.3314,
      "longitude": -83.0458
    },
    "social":{
      "steemit": "eos.detroit",
      "twitter": "eosiodetroit",
      "youtube": "eosdetroit",
      "facebook": "eosiodetroit",
      "github": "eosdetroit",
      "reddit": "eosdetroit",
      "keybase": "robrigo",
      "telegram": "eos_detroit",
      "wechat": "robrigo_eosdetroit" 
    }    
}

