{
    "name": "Oracle Package",
    "description": "Standard liquidOracles package",
    "dsp_json_uri": "https://dsp.eosdetroit.io/dsp.json",
    "logo":{
      "logo_256":"https://eosdetroit.io/images/eos-detroit_256.png",
      "logo_1024":"https://eosdetroit.io/images/eos-detroit_1024.png",
      "logo_svg":"https://eosdetroit.io/images/eos-detroit.svg"
    },
    "service_level_agreement": {
        "availability":{
            "uptime_9s": 4
        },
        "performance":{
            "95": 500
        }
    },
    "pinning":{
        "ttl": 2400,
        "public": false
    },
    "locations":[
        {
          "name": "Lansing, MI",
          "country": "US",
          "latitude": 42.7049,
          "longitude": -84.6661
        }
    ]
}
