[Unit]
Description=EOS Chronicle receiver

[Service]
User={{ deploy_user }}
Type=simple
ExecStart=/usr/local/sbin/chronicle-receiver --config-dir=/home/{{ deploy_user }}/chronicle-config --data-dir=/home/{{ deploy_user }}/chronicle-data
TimeoutStopSec=300s
Restart=on-failure
RestartSec=10
KillMode=control-group

[Install]
WantedBy=multi-user.target
