[Unit]
Description=Chronicle Consumer

[Service]
Type=simple
ExecStart=/usr/bin/node /usr/lib/node_modules/chronicle-consumer/app.js
Restart=on-failure
User={{ deploy_user }}
KillMode=control-group

[Install]
WantedBy=multi-user.target
