[Unit]
Description=EOS Chronicle receiver

[Service]
Type=simple
ExecStart=/usr/local/sbin/chronicle-receiver --config-dir=/home/eosio/chronicle-config --data-dir=/home/eosio/chronicle-data
TimeoutStopSec=300s
Restart=on-success
RestartSec=10
User=eosio
Group=eosio
KillMode=control-group

[Install]
WantedBy=multi-user.target
