[Unit]
Description=Nodeos monitoring/alerting
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/bin/python3 {{ base_dir }}/systemd_nodeos_monitor.py

[Install]
WantedBy=multi-user.target
